body {
    background-color: #ecf0f1;
    font-family: 'Open Sans';
    padding-top: 70px;
}

.navbar-default .navbar-brand {
    color: #d35400;
}


.btn-default {
    background-color: #E4F1FE;
}


h2,h3,h4 {
    margin: 20px 0;
}


.btn, .btn-lg, .thumbnail, .container .jumbotron, .form-control {
    border-radius: 0;
}

a {
    color: #2980b9;
}

.price {
    color: #c0392b;
}

.thumbnail .caption {
    padding: 10px 20px;
}

.thumbnail {
    margin-bottom: 40px ;
}

.bot-margin {
    margin-bottom: 30px;
}

.jumbotron {
    margin-top: -70px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .2);
    background-color: #EB9532;
    background-color: #888;
}

.jumbotron h3 {
    color: #fff;
    padding: 30px 0 10px 0;
}

